<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Firestore / network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QR scanner -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Fine (GPS) location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Coarse (approximate) location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-mrZsFbU9NZq7kVC1MI7zloWy2_KSw_U" />


        <!-- Launcher -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="aurora" android:host="event" android:pathPrefix="/"/>
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".activities.LoginActivity" android:exported="false" />
        <activity android:name=".activities.SignUpActivity" android:exported="false" />

        <!-- Entrant surfaces -->
        <activity android:name=".activities.EventsActivity" android:exported="false" />
        <activity android:name=".activities.EntrantNavigationActivity" android:exported="false" />
        <activity android:name=".activities.ProfileActivity" android:exported="false" />
        <activity android:name=".activities.AlertsActivity" android:exported="false" />
        <activity android:name=".activities.EntrantEventHistoryActivity" />


        <!-- Details + deep-link: aurora://event/<id> or aurora://event?id=<id> -->
        <activity
            android:name=".activities.EventDetailsActivity"
            android:exported="true">

        </activity>

        <!-- Organizer -->
        <activity android:name=".activities.OrganizerActivity" android:exported="false" />
        <activity android:name=".activities.CreateEventActivity" android:exported="false" />
        <activity android:name=".activities.OrganizerProfileActivity" android:exported="false" />
        <activity android:name=".activities.OrganizerNotificationsActivity" android:exported="false" />
        <activity android:name=".activities.OrganizerEntrantsActivity" />
        <activity android:name=".map.MapPickerActivity" />
        <activity
            android:name=".map.EventMapActivity"
            android:exported="false" />



        <!-- Admin -->
        <activity android:name=".activities.AdminActivity" android:exported="false" />

    </application>
</manifest>
