<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Firestore / network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QR scanner -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora">

        <!-- Launcher -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="aurora" android:host="event" android:pathPrefix="/"/>
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignUpActivity" android:exported="false" />

        <!-- Entrant surfaces -->
        <activity android:name=".EventsActivity" android:exported="false" />
        <activity android:name=".EntrantActivity" android:exported="false" />
        <activity android:name=".EntrantNavigationActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".AlertsActivity" android:exported="false" />
        <activity android:name=".EntrantEventHistoryActivity" />


        <!-- Details + deep-link: aurora://event/<id> or aurora://event?id=<id> -->
        <activity
            android:name=".EventDetailsActivity"
            android:exported="true">

        </activity>

        <!-- Organizer -->
        <activity android:name=".OrganizerActivity" android:exported="false" />
        <activity android:name=".CreateEventActivity" android:exported="false" />
        <activity android:name=".OrganizerProfileActivity" android:exported="false" />
        <activity android:name=".OrganizerNotificationsActivity" android:exported="false" />
        <activity android:name=".OrganizerEntrantsActivity" />

        <!-- Admin -->
        <activity android:name=".AdminActivity" android:exported="false" />
    </application>
</manifest>
